@import "tailwindcss";

body {
    background-color: rgb(3, 1, 23);
}

.delay-100 {
    animation-delay: 100ms;
}

@layer utilities {

    .animate.in {

        animation-fill-mode: both
    }

    .slide-in-from-top {
        animation-name: sliderInFromTop;
    }

    .duration-300 {
        animation-duration: 300ms;
    }

}

@keyframes slideInFromTop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}